# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual environments
venv/
.venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
